<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">

    <title>Document</title>
</head>

<body>

    <%- include('partials/header.ejs') %>

        <main class="min-h-screen">

            <div class="mt-12">
                <h2 class="text-center mb-4 text-[1.6rem] font-bold">Lunch Table</h2>
                <table class="mx-auto">
                    <thead class="bg-gray-800 rounded-md">
                        <tr class="w-[800px] rounded-md text-white p-4 text-left">
                            <th class="px-12 py-2">Cohort</th>
                            <th class="px-12 py-2">First Name</th>
                            <th class="px-12 py-2">Last Name</th>
                            <th class="px-12 py-2">Options</th>
                            <th class="px-12 py-2">Date</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% if(records.length) { for(var i=0; i < records.length; i++) { %>

                            <tr>
                                <td class="px-12 py-2">
                                    <%= records[i].cohort %>
                                </td>
                                <td class="px-12 py-2">
                                    <%= records[i].fname %>
                                </td>
                                <td class="px-12 py-2">
                                    <%= records[i].lname %>
                                </td>
                                <td class="px-12 py-2">
                                    <%= records[i].options %>
                                </td>
                                <td class="px-12 py-2">
                                    <%= new Date(records[i].date).toLocaleDateString() %>
                                </td>
                            </tr>

                            <% } } else { %>

                                <tr>
                                    <td colspan="5">No Records</td>
                                </tr>
                                <% } %>
                    </tbody>
                </table>

            </div>
        </main>


        <%- include('partials/footer.ejs') %>


</body>

</html>