<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href=https://use.fontawesome.com/releases/v5.6.3/css/all.css
        integrity=sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/ crossorigin="anonymous">
    <link href=https://stitches.hyperyolo.com/output.css rel="stylesheet">

    <link rel="stylesheet" href="/style.css">

    <script src="/js/select-options.js" defer></script>

    <title>Cafeteria App</title>
</head>

<body>
    <!-- nav -->

    <%- include('partials/header.ejs') %>

        <section class="font-sans h-[34.4rem]">
            <div class="container m-auto flex space-x-24 pt-24">
                <div class="flex flex-col w-full lg:w-1/2 justify-center items-start py-8">
                    <h1 class="my-4 uppercase tracking-loose font-bold text-3xl">
                        Welcome Trainee!
                    </h1>
                    <p class="leading-normal mb-8 font-semibold">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, ex ea commodo consequat. Sed ut perspiciatis unde
                        omnis iste natus error sit voluptatem accusantium natus error sit.
                    </p>
                    <a href="#menu"
                        class="bg-transparent hover:bg-black text-black font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent transition duration-500">
                        Place Your Order
                    </a>
                </div>
                <div class="w-full lg:w-1/2 lg:py-6">
                    <img src="/images/Food-Free-PNG-Image.png" alt="image" class="w-full" />
                </div>
            </div>
        </section>

        <div class="p-24" id="menu">
            <h1 class="font-bold text-6xl text-center mb-24">Menu</h1>

            <% optsByCategory.forEach(category=> { %>
                <h3 class="font-bold text-2xl text-center">
                    <%= category.name %>
                </h3>

                <ul role="list"
                    class="grid grid-cols-1 justify-items-center gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 py-16">
                    <% category.options.forEach(option=> { %>
                        <li
                            class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow divide-y divide-gray-200 hover:shadow-xl curser-pointer">
                            <div class="flex-1 flex flex-col p-8">
                                <img class="w-32 h-32 flex-shrink-0 mx-auto rounded-full object-cover"
                                    src="/images/<%= option.image %>" alt="<%= option.option_name %>" />

                                <h3 class="mt-6 text-gray-900 text-sm font-medium">
                                    <%= option.option_name %>
                                </h3>
                            </div>
                            <div>
                                <div class="flex">
                                    <div class="-ml-px w-0 flex-1 flex">
                                        <button value="<%= option.id %>" data-selected="false"
                                            class="menu-option_btn relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-blue-500">
                                            <span class="ml-3">Order</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <% }) %>
                </ul>
                <% }) %>

                    <!-- Form with options -->
                    <form id="order_form" action="/menu/order" method="post">
                        <input type="hidden" name="trainee_id" id="trainee_id" value="<%= trainee_id %>" />
                        <input type="hidden" name="options" id="menu_options" value="" required />

                        <div class="text-center">
                            <button type="submit"
                                class="bg-transparent hover:bg-black text-black font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent transition duration-500">
                                Send Order
                            </button>
                        </div>
                    </form>
        </div>

        <%- include('partials/footer.ejs') %>

</body>

</html>